/*Schrijf hier jouw eigen CSS*/

/* --------------- Opdracht 1 --------------- */
.container-1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* ----------- Opdracht 2 (deel 1) ----------- */
.container-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* ----------- Opdracht 2 (deel 2) ----------- */
.item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}